.nav-ul li {
  display: inline-block;
  padding: 10px;
  align-content: center;
}

.inputbox {
  margin:5px;
  display: block;
}

.product{
  margin: 5px;
}

.product-list{
  text-align:center;
}

.product-list ul li {
  display: inline-block;
  padding: 5px;
  border: 1px solid blue;
  width: 150px;
}

.product-list ul{
  margin:0;
}

.nav-ul li a{
  color:black;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color:lightblue
}

.footer {
  position: absolute;
  bottom:0;
  text-align:center;
  width: 100%;
  background-color: lightblue
}

